
{% extends 'base.html' %}

{% block content %}


	</br>
	<center>
		<h3>Search item: <em>{{ searched }}</em></h3>
	</center>
	<br>

	{% if posts|length == 0 %}
		<div class="card">
		  <div class="card-body">
			<h5 class="card-title">Nothing found</h5>
		  </div>
		</div>
	{% else %}
		{% for post in posts %}
			<div class="card">
		  		<h5 class="card-header">By: {{ post.poster.name }}</h5>
	  			<div class="card-body">
	    			<h5 class="card-title">Title: {{ post.title }}</h5>

	    			<a href="{{ url_for('post', id=post.id) }}" class="btn btn-primary btn-sm">View</a>
	  			</div>
			</div>
			<br>
		{% endfor %}
	{% endif %}

<br><br><br><br><br>


{% endblock %}